/******************************************
  Some tips for creating layouts :
  - Add `l` prefix before the name of layouts
  - Or Just copy paste this structure of styling code into your new layouts styling file
  - Dont forget to register your layouts into `_layouts.scss`
******************************************/

/** This Place For Layouts Adaptive **/
.#{$namespace} {
  & .l-adaptive {
    position: relative;

    & .adaptive {
      &__desktop {
        position: relative;
      }

      &__mobile {
        position: relative;
        display: none;

        & .c-main {
          padding-top: 0;
        }
      }
    }

    & .desktop {
      display: block;
    }

    & .mobile {
      display: none;
    }
  }
}

/* ************************************ */
